# Environment variables
.env

# Cookies file
cookies.json

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution/build folders
build/
dist/
*.egg-info/

# IDE/editor settings
.vscode/
.idea/
*.swp
*~

# macOS
.DS_Store
